body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(20%);
    background-image: url('images/la-grande-galerie.webp');
}

header {
  padding: 50px;
  background: #000;
}

.Header_Home_logo {
  height: 136px;
  display: block;
  margin: auto;
}

.face{
  margin-top: 10px;
  width: 400px;
  background: #ebae34;
  padding: 15px 10px;
  position: relative;
}

.eyes {
  align-items: center;
  position: absolute;
  transform: translate(100px, 43px);
  width: 100%;
  
}
.eye {
  width: 58px;
  height: 24px;
  background: #fff;
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

img {
  display: block;    
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.ball {
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
